.account {
  display: flex;
  justify-content: center;
  padding-top: 100px;
}

.account__container {
  border: 3px solid #58cc05;
  border-radius: 50%;
  width: 400px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.account__text {
  font-size: 18px;
  color: #777777;
}

.account__button {
  cursor: pointer;
  margin-top: 30px;
  width: 70%;
  text-align: center;
  text-decoration: none;
  border: 2px solid #58cc05;
  color: #58cc05;
  box-sizing: border-box;
  padding: 12px 24px;
  border-radius: 10px;
  transition: 0.3s;
}

.account__button:hover {
  background-color: #58cc05;
  color: #fff;
}
